@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    height:90px;
    background-color: #272735;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
h1{
    color: dodgerblue;
    font-size: 36px;
    font-weight: bold;
}
nav{
    display: flex;
}
nav li{
    padding:10px 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
   
}

nav li:hover{
    background-color: dodgerblue;
    transition: 1s;
}

.mobile-imagem{
    display: none;
}

.imagem-logo{
    width: 60px;
    height: 60px;
}
.chama{
    width: 50px;
    position: absolute;
    right: 100px;
    bottom: 100px;
    position: fixed;
    cursor: pointer;

}

main{
    width: 100%;
    height: 150vh;
    position: absolute;
    background-image: url("imagem/domenico-loia-EhTcC9sYXsw-unsplash\ \(1\).jpg");
}

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.container-planos{
    margin-top: 100px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;

}

.item{
    width: 200px;
    height: 250px;
    border: solid dodgerblue 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    background-color: rgba(197, 202, 207, 0.425);
}

.assinar{
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
.beneficios{
    margin-top: 100px;
    height:350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.747);
}

h1{
    text-align: center;
    padding: 20px;
}
.beneficios-item{
    display: flex;
    margin-left: 100px;
}

.items-beneficios{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   gap: 20px;
}
.mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 1s;
}
.mobile>li{
 
}
.mobile >li:hover{
    background-color: rgb(245, 248, 250);
    color:black;
}

.duvidas{
    height: 50vh;
    width: 100%;
}

.faq{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq>ul>li{
    padding: 5px;
    font-size: 18px;
}

.resposta{
    display: none;
}

.display{
    display: block;
}

footer{
    width: 100%;
    height: 137px;
    background-color: #272735;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>h2{
    color: white;
}


.display{
    display: block;
}






@media (max-width:720px){

    .menu{
        display: none;
    }

    .mobile-imagem{
        display: block;
    }

    .mobile{
        text-align: center;
        background-color: #272735;
        transition: 1s;
    }
    .chama{
        right: 20px;
        bottom: 30px;
    }

}